<div class="container text-center">
<form>
  <div class="box">
    <h1>User/Librarian</h1>
    <div class="form-group">
      <input type="text" name="username" placeholder="username" class="text-input"/>
    </div>
    <br>
    <div class="form-group">
      <input  type="password" name="password" placeholder="password" class="text-input"/>
    </div>
    <br>
    <button class="btn btn-primary btn" >Login</button>
    <!--<a href="#"><div class="btn">Sign In</div></a>
    <a href="#"><div id="btn2">Sign Up</div></a>-->
  </div> <!-- End Box -->
</form>
</div>